<!--Top Menu-->
<top-menu></top-menu>

<div class="main">


    <!--First Block-->
    <section>
        <div class="anchor_link" id="link_our-mission" style="margin-top:-60px;"></div>
        <div class="container">
            <div class="row profile">
                <div class="col-md-3">
                    <user-prof-side-bar></user-prof-side-bar>
                </div>
                <div class="col-md-9">
                    <div class="profile-content" >
                        Types
                        <dynamic-dir info="'qwe'" ng-include="''"></dynamic-dir>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </section>


    <footer-section></footer-section>
</div>
