<!--Top Menu-->
<top-menu></top-menu>

<div class="main">


    <!--float sub menu-->
    <float-sub-menu style="display: block; margin-top: 140px;"></float-sub-menu>


    <!--First Block-->
    <section>
        <div class="anchor_link" id="link_our-mission" style="margin-top:-60px;"></div>
        <div class="container">
            <h2>Confirm Account</h2>

            <div>
                <p>
                    <a >Resend token</a>
                </p>
            </div>
        </div>
    </section>


    <footer-section></footer-section>
</div>
