
<!--Top Menu-->
<top-menu></top-menu>

<div class="main">


    <!--First Block-->
    <section>
        
        <!--float sub menu-->
        <float-sub-menu style="display: block; margin-top: 140px;"></float-sub-menu>

        <div class="anchor_link" id="link_our-mission" style="margin-top:-60px;"></div>
        <div class="container">
            <h2>Registrate</h2>

            <div>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">Confirm Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password">
                    </div>
                    <button type="submit" class="btn btn-default">Registrate</button>
                </form>
            </div>
        </div>

    </section>


    <footer-section></footer-section>

</div>
