<!--Top Menu-->
<top-menu></top-menu>

<div class="main" sty>




    <!--First Block-->
    <section>
        <div class="anchor_link" id="link_our-mission" style="margin-top:-60px;"></div>
        <div class="container">
            <div class="row profile">
                <div class="col-md-3">
                    <user-prof-side-bar></user-prof-side-bar>
                </div>
                <div class="col-md-9">
                    <div class="profile-content" >

                        <!--First Block-->
                        <section>
                            <div class="anchor_link" id="link_our-mission" style="margin-top:-60px;"></div>

                            <h2>Artist List</h2>

                            <div>

                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>#id</th>
                                            <th>Artist Name</th>
                                            <th>Profile type</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th>1</th>
                                            <td ui-sref="user-chield-view-by-idt({chieldId: 23})">Lola By</td>
                                            <td>Label</td>
                                            <td>
                                                <!-- Contextual button for informational alert messages -->
                                                <button type="button" class="btn btn-info">Update</button>

                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>

                                    <ul class="pagination">
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                    </ul>
                            </div>

                        </section>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </section>


    <footer-section></footer-section>
</div>


